body{
    background-color: #2b2948;
    background-image: url('https://cdn.dribbble.com/users/44708/screenshots/2694410/code.gif');
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat-x;
}
text{
    font-size: 50px;
position: absolute;
left:550px;
top:160px ;
width:200;
background-color: red;
border-style: solid;
border-width: 1px;
border-color: red;
border-radius: 15px;
box-shadow:2px 2px 13px 0 red;
color: white;
}



button{
    color: white;
    font-size: 25px;
    width: 150px;
    position: relative;
    left: 560px;
    top: 300px;
    background-color: #38bdff;
    border-style:solid;
    border-radius: 13px;
    border-width:1px;
    border-color:#38bdff;
    box-shadow: 1px 1px 8px 0 #38bdff;
    
}
button:hover{
    position: fixed;
    top: 280px;
    height:70px;
    width: 180px;
    font-size: 50px;
    background-color: gold;
    border-color: gold;
    box-shadow:1px 1px 8px gold;
}
text {
    animation: color-change 5s infinite;
  }
  
  @keyframes color-change {
    0% { color:gold; }
    20% { color:#38bdff; }
    40% { color:white; }
    60% { color:rgb(0, 255, 0); }
    80% { color:#e900b6; }
    100% { color:gold; }
    0%{top:160px;}
    20%{top:200px;}
    40%{top:250px;}
    50%{top:200px;}
    60%{top:250px;}
    70%{top:200px;}
    80%{top:250px;}
    90%{top:200px;}
    100%{top:160px;}
   
  }
  
